{%extends 'base.html'%}

{% import 'macros.html' as macro %}

     {%block content %}
    <div class="container-fluid">

    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <input class="form-control mr-sm-2" name = "news_query" type="search" placeholder="Search" aria-label="Search">
        <input type="submit" value = "submit"class="btn btn-outline-success my-2 my-sm-0" type="submit"></input>
      </form>
    </nav>
     
    {{macro.shownews(totalResults)}}
       
    </div>  
    {%endblock%}  
